body{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}


header{
    color: white;
    position: absolute;
    display: inline-block;
    background-image:url(img/home.png) ;
    background-size: 1300px 700px;
    background-repeat: no-repeat;
    padding: 0px 616.3px 100px;
}


.logo{
margin-top: 50px;
    margin-left: -520px;
 
}


nav{
    position: absolute; 
margin-top: 60px;
margin-left: 500px;
}

nav li{
  display: inline-block;  
  color: white;
  margin-right: 20px;
  font-size: 20px;
}

h5{
    font-size:20px;
border-left: 30px solid white;
line-height: 1px;
margin-left: -490px;
}

h2{
    font-size: 40px;
    margin-top: 40px;
    margin-left: -490px;
}
header p{
text-align: left;
    margin-left: -490px;
    line-height: 25px;
}

section {
    margin-top: 200px;
position: absolute;
    padding: 300px;
    color: black;
}

section h3 {
margin-top: 340px;
font-size:20px;
border-left: 30px solid rgb(0, 0, 0);
line-height: 1px;
margin-left: -180px;
}


section p{text-align: left;
    margin-top: 40px;
    font-weight: bold;
    line-height: 30px;
}

article{
margin-left: 350px;
    position: absolute;
    margin-top: 1100px;
}

article h4{
    margin-left: 50px;
    display: inline-block;
 line-height: 25px;
 text-align: center;
}

.section2 p{
    text-align: left;
    margin-left: 140px;
    margin-top: -260px;
}


.section2 h3{
    margin-top: 870px;
font-size:20px;
border-left: 30px solid rgb(0, 0, 0);
line-height: 1px;
margin-left: -180px;
}

.section2 h1{
    position: absolute;
margin-top: 80px;
    margin-left: -130px;
}




.section2 img{
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.228);
    border: 1px solid rgba(0, 0, 0, 0.359);
    margin-top: 140px;
        margin-left: -140px;
    }


.section3 {
    margin-top: 1600px;
}

.section3 iframe {
margin-top: 50px;
margin-left: 50px;
}

footer{
    padding-top: 30px;
    padding-bottom: 40px;
    color: white;
text-align: center;
    margin-top: 2950px;
    background-color: black;
}



footer #logo{
    position: absolute;
margin-left: -400px;
margin-top: -15px;
display: inline-block;
}

.instagram{
    position: absolute;
    margin-left: 300px;
    margin-top: -10px;
}

@media (max-width:1023px){
    
    header{
        margin: 0px;
        padding: 0px;
        color: white;
        position: absolute;
        display: inline-block;
        background-image:url(img/2.png) ;
        background-size: 957px 1200px;
        background-repeat: no-repeat;
        padding: 0px 225px 100px;
    }
    
.logo{
    margin-top: 150px;
        margin-left: -530px;
     
    }
    
    
    nav{
        position: absolute; 
    margin-top: 60px;
    margin-left: 0px;
    }
    
    nav li{
      display: inline-block;  
      color: white;
      margin-right: 10px;
      font-size: 20px;
    }
    
    h5{
        font-size:20px;
    border-left: 30px solid white;
    line-height: 1px;
    margin-left: 0px;
    }
    
    h2{
        font-size: 20px;
        margin-top: 40px;
        margin-left: -150px;
    }
    header p{
    text-align: left;
        margin-left: -160px;
        line-height: 25px;
        font-size: 15px;
    }
    
    section {
        margin-top: 460px;
    position: absolute;
        padding: 300px;
        color: black;
    }
    
    section h3 {
    margin-top: 220px;
    font-size:20px;
    border-left: 30px solid rgb(0, 0, 0);
    line-height: 1px;
    margin-left: -150px;
    }
    
    
    section p{text-align: left;
        margin-top: 40px;
        font-weight: bold;
        line-height: 30px;
        margin-left: -280px;
        font-size: 15px;
    }
    
    article{
        font-size: 15px;
    margin-left: 150px;
        position: absolute;
        margin-top: 1540px;
    }
    
    article h4{
      
        margin-left: 20px;
        display: inline-block;
     line-height: 25px;
     text-align: center;
    }
    
    .section2 p{
        text-align: left;
        margin-left: -290px;
        margin-top: 60px;
       
    }
    
    .Buildings{
        
        margin-left: -270px;
    }
    
    .section2 h3{
        margin-top: 970px;
    font-size:20px;
    border-left: 30px solid rgb(0, 0, 0);
    line-height: 1px;
    margin-left: -250px;
    }
    
    .section2 h1{
        position: absolute;
    margin-top: 80px;
        margin-left: -230px;
    }
    
    
 
    
    .section2 img{
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.228);
        border: 1px solid rgba(0, 0, 0, 0.359);
        margin-top: 140px;
            margin-left: -230px;
        }
    
    
    .section3 {
        margin-left: -50px;
        margin-top: 2600px;
    }
    
    .section3 iframe {
        width: 400px;
        height: 400px;
    margin-top: 100px;
    margin-left: -137px;
   
    }
    
    footer{
      
position: absolute;
padding-left: 80px;
padding-right: 80px;
        padding-top: 30px;
        padding-bottom: 40px;
        color: white;
    text-align: center;
        margin-top: 3150px;
        background-color: black;
    }
    
    
    
    footer #logo{
        position: absolute;
    margin-left: -100px;
    margin-top: -15px;
    display: inline-block;
    }
    
    .instagram{
        position: absolute;
        margin-left: -10px;
        margin-top: -10px;
    }
    
  
    
}